#
# Novatek NT11206 touchscreen driver configuration
#
menuconfig TOUCHSCREEN_NT11206
	bool "Novatek NT11206"
	default y
	help
	  Say Y here if you have a Novatek NT11206 touchscreen connected
	  to your system.

	  If unsure, say N.

if TOUCHSCREEN_NT11206

choice
	default TOUCHSCREEN_NT11206_INX8_HUAWEI_1200_1920
	prompt "Novatek NT11206 Panels"

config TOUCHSCREEN_NT11206_INX8_HUAWEI_1200_1920
	bool "NT11206_INX8_HUAWEI_1200_1920"
	depends on I2C
	help
	  Say Y here if you have a Novatek NT11206 Panel
	  to the host processor over I2C

	  If unsure, say N.

config TOUCHSCREEN_NT11206_JDI6_HUAWEI_1080_1920
	bool "NT11206_JDI6_HUAWEI_1080_1920"
	depends on I2C
	help
	  Say Y here if you have a Novatek NT11206 Panel
	  to the host processor over I2C

	  If unsure, say N.

endchoice

endif
