config ELAN_FINGERPRINT
	tristate"ELAN Fingerprint"
	default n
	---help---
	  Fingerprint qualcomm driver enable/disable in the kernel.
	  Say Y here if you want to use qualcommfingerprint driver,
	  fingerprint driver will support fingerprint function inTEE,
	  it supports ELNA's all fingerprint device.
